NODE_ENV=production
PORT=7111
DATABASE_URL="postgresql://ruwang_arsip_user:GANTI_PASSWORD_DATABASE@localhost:5432/ruwang_arsip?schema=public"

JWT_SECRET="GANTI_JWT_SECRET_PANJANG_RANDOM"
JWT_REFRESH_SECRET="GANTI_REFRESH_SECRET_PANJANG_RANDOM"
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://36.50.114.44
CORS_ORIGIN=http://36.50.114.44
PUBLIC_BASE_URL=http://36.50.114.44
API_BASE_URL=http://36.50.114.44/api
UPLOAD_DIR=/var/www/ruwang-arsip/uploads

ALLOW_PRODUCTION_SEED=false
SEED_ADMIN_NAME="ruwangarsip dev"
SEED_ADMIN_USERNAME=root
SEED_ADMIN_EMAIL=ruwangarsip@test.com
SEED_ADMIN_PASSWORD="GANTI_PASSWORD_BOOTSTRAP"
SEED_ADMIN_ROLE=IT
SEED_ADMIN_DIVISION=IT
SEED_ADMIN_PHONE=

AUTH_INVITE_EXPIRES_HOURS=72
AUTH_RESET_PASSWORD_EXPIRES_HOURS=2

RESEND_API_KEY=re_eK6cCkdK_BQVDWZEQWdimNXFZUWyUUFD8
RESEND_FROM_EMAIL=noreply@ruwangarsip.com
RESEND_FROM_NAME="Ruang Arsip"
