NODE_ENV=production
PORT=7111

DATABASE_URL="postgresql://GANTI_USER_DB:GANTI_PASSWORD_DB@GANTI_IP_DATABASE:5432/GANTI_NAMA_DATABASE?schema=public"

JWT_SECRET="GANTI_JWT_SECRET_RANDOM_MIN_32_KARAKTER"
JWT_REFRESH_SECRET="GANTI_REFRESH_SECRET_RANDOM_MIN_32_KARAKTER"
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

FILE_ACCESS_SECRET="GANTI_FILE_ACCESS_SECRET_RANDOM_MIN_32_KARAKTER"
FILE_ACCESS_TOKEN_EXPIRES_IN=15m

AUTH_REFRESH_COOKIE_NAME=ruang_arsip_refresh_token
AUTH_COOKIE_SAME_SITE=lax
AUTH_COOKIE_DOMAIN=

FRONTEND_URL=http://GANTI_IP_ATAU_DOMAIN_FRONTEND

CORS_ORIGIN=http://GANTI_IP_ATAU_DOMAIN_FRONTEND

PUBLIC_BASE_URL=http://GANTI_IP_ATAU_DOMAIN_BACKEND
API_BASE_URL=http://GANTI_IP_ATAU_DOMAIN_BACKEND/api

UPLOAD_DIR=/var/www/ruwang-arsip/uploads
UPLOAD_TEMP_DIR=/var/www/ruwang-arsip/uploads/tmp/uploads
STORAGE_USAGE_SOURCE=database_file_size
STORAGE_USAGE_REMOTE_HEAD_ENABLED=false
STORAGE_USAGE_REMOTE_HEAD_TIMEOUT_MS=3000
WATERMARK_MAX_PROCESS_SIZE_BYTES=536870912

ALLOW_PRODUCTION_SEED=false

SEED_ADMIN_NAME="GANTI_NAMA_ADMIN"
SEED_ADMIN_USERNAME=GANTI_USERNAME_ADMIN
SEED_ADMIN_EMAIL=GANTI_EMAIL_ADMIN
SEED_ADMIN_PASSWORD="GANTI_PASSWORD_ADMIN_MIN_12_KARAKTER"
SEED_ADMIN_ROLE=Admin
SEED_ADMIN_DIVISION=IT
SEED_ADMIN_PHONE=
SEED_ADMIN_CAN_ACCESS_RESTRICTED_DOCUMENTS=true

SEED_RESET_EXISTING_PASSWORDS=false

SEED_USERS_JSON=

AUTH_INVITE_EXPIRES_HOURS=72
AUTH_RESET_PASSWORD_EXPIRES_HOURS=2

RESEND_API_KEY="GANTI_RESEND_API_KEY"
RESEND_FROM_EMAIL=noreply@GANTI_DOMAIN_EMAIL
RESEND_FROM_NAME="Ruwang Arsip"
